*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
#nav{
    margin-top: -12px;
}
.www{
    text-decoration: none;
    padding-left: 60px;
}
.searching{
    width: 350px;
    height: 35px;
    border-radius: 50px;
    padding-left: 40px;
    border: 1px solid rgb(109, 107, 107);
    position: relative;
    margin-right: 750px;
}
#icon{
    position: absolute;
    right: 1080px;
}
#icon2{
    position: absolute;
    left: 550px;
}
.heart{
    width: 22px;
    height: 22px;
    margin-left: 1100px;
    margin-top: -40px;
}
.bell-icon{
    width: 22px;
    height: 22px;
    margin-left: 1150px;
    margin-top: -40px;
}
.setting{
    width: 22px;
    height: 22px;
    margin-left: 1200px;
    margin-top: -40px;
}
.image{
    margin-left: 1250px;
    margin-top: -40px;
}
.div1{
    background-color: #54a6ff;
    width: 620px;
    height: 400px;
    margin-left: 60px;
    border-radius: 10px;
}
.div2{
    background-color: #3563e9;
    width: 620px;
    height: 400px;
    margin-left: 20px;
    border-radius: 10px;
}
.nav-div{
    height: 100px;
    padding-top: 22px;
}
.div-parent{
    padding-top: 40px;
    display: flex;
    background-color: rgb(231, 223, 223);
}
.head1{
    padding-left: 25px;
    padding-top: 15px;
    color: white;
}
.para1{
    padding-left: 25px;
    padding-top: 10px;
    color: white;
    font-size: large;
}
.btn1{
    margin-left: 25px;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    background-color: #3563e9;
    color: white;
    border: none;
}
.img1{
    margin-left: 200px;
}
.head2{
    padding-left: 25px;
    padding-top: 15px;
    color: white;
}
.para2{
    padding-left: 25px;
    padding-top: 10px;
    color: white;
    font-size: large;
}
.btn2{
    margin-left: 25px;
    width: 140px;
    height: 50px;
    border-radius: 8px;
    background-color: #54a6ff;
    color: white;
    border: none;
}
.btn1:hover{
    background-color: transparent;
    border: 1px solid white;
}
.btn2:hover{
    background-color: transparent;
    border: 1px solid white;
}
.img2{
    margin-left: 240px;
}
.check{
    background-color: rgb(231, 223, 223);
    display: flex;
}
.parent{
    background-color: rgb(231, 223, 223);
}
.frm1{
    margin-left: 60px;
    background-color: white;
    width: 580px;
    height: 130px;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 5px;
}
.select{
    display: flex;
}
.head3{
    padding-left: 180px;
    margin-top: -55px;
}
#date{
    color: gray;
    margin-left: 180px;
    border: none;
}
.head4{
    padding-left: 400px;
    margin-top: -55px;
}
#time{
    color: gray;
    margin-left: 400px;
    border: none;
}
.frm2{
    margin-left: 30px;
    background-color: white;
    width: 580px;
    height: 130px;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 5px;
}
#dtu{
    margin-left: 30px;
    margin-top: 40px;
    background-color: #3563e9;
    color: white;
    width: 45px;
    height: 50px;
    border-radius: 10px;
    padding-top: 5px;
    border: none;
}
.ptc{
    padding-left: 60px;
    color: rgb(94, 90, 90);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.linkv{
    text-decoration: none;
    padding-left: 1250px;
}
.red{
    margin-left: 240px;
    margin-top: -25px;
}
.petrol{
    margin-left: 32px;
    margin-top: 15px;
}
.litre{
    padding-top: 00px;
    font-weight: lighter;
    font-size: smaller;
    padding-left: 58px;
    margin-top: -16px;
}
li{
    list-style-type: none;
}
#manual{
    margin-left: 100px;
    margin-top: -55px;
}
.mannual{
    padding-top: 00px;
    font-weight: lighter;
    font-size: smaller;
    padding-left: 125px;
    margin-top: -47px;
}
#people{
    margin-left: 190px;
    margin-top: -60px;
}
.peeple{
    padding-top: 00px;
    font-weight: lighter;
    font-size: smaller;
    padding-left: 220px;
    margin-top: -48px;
}
.fh5{
    padding-left: 30px;
    padding-top: 15px;
}
.span2{
    font-weight: 600;
    color: gray;
    padding-left: 100px;
    margin-top: -30px;
}
.btn3{
    color: white;
    background-color: #3563e9;
    width: 100px;
    border: none;
    height: 50px;
    border-radius: 5px;
    margin-left: 160px;
    margin-top: -30px;
    margin-bottom: 5px;
}
.carimg2{
    height: 135px;
    margin-top: -50px;
}
.rolls{
    background-color: white;
    border: 3px solid black;
    color: black;
    width: 600px;
}





